body{
        background: #4d7ea8;
        color:#272932;
        outline: none;
        background: transparent;
    }
    
    .success{
        color: green;
        border-color: green;
        color:rgb(32, 184, 32);
        border-color: rgb(32, 184, 32);
        display: block;
        margin-bottom: 0.5rem;
    }
    